
# Appended to preseed/unattended.cfg by `cook-image.sh -d devuan -t`.
d-i mirror/protocol string http
d-i mirror/country string manual
d-i mirror/http/hostname string deb.devuan.org
d-i mirror/http/directory string /merged/
d-i mirror/http/proxy string
