
# Appended to preseed/unattended.cfg by `cook-image.sh -d debian -t`.
d-i mirror/protocol string http
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian/
d-i mirror/http/proxy string
