name: Release

on:
  push:
    tags: [ 'v*.*.*' ]

jobs:
  release:
    runs-on: ubuntu-latest
    container:
      image: debian:bookworm-slim
    steps:
      - name: Install dependencies
        run: |
          apt-get update
          DEBIAN_FRONTEND=noninteractive apt-get upgrade -y --no-install-recommends \
            ca-certificates \
            cpio \
            genisoimage \
            gh \
            git \
            gpg \
            gpg-agent \
            libarchive-tools \
            patch \
            syslinux-utils \
            wget
      - uses: actions/checkout@v4
      - name: Import gpg key
        run: echo "$GPG_PRIVATE_KEY" | gpg --batch --import
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
      - name: Tar repo
        run: |
          ./dev/make_tar
          gpg --batch --yes --pinentry-mode loopback --passphrase "$GPG_PASSPHRASE" --detach-sign --armor -o dreamweaver.tar.gz.asc dreamweaver.tar.gz
        env:
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
      - name: Build ISO
        run: |
          ./dev/cook_image
          gpg --batch --yes --pinentry-mode loopback --passphrase "$GPG_PASSPHRASE" --detach-sign --armor -o debian-dreamweaver-*.iso.asc debian-dreamweaver-*.iso
        env:
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
      - name: Release
        run: |
          git config --global safe.directory '*'
          gh release create ${{ github.ref_name }} dreamweaver.tar.gz.asc dreamweaver.tar.gz debian-dreamweaver-*.iso.asc debian-dreamweaver-*.iso
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
